

@{
	ViewData["Title"] = "About";
}

<div class="container" style="margin-top=40px">
	<div class="row">
		<div class="col-8">
			<p></p>
			<p></p>
			<img class="pl-5 glowing-border" src="~/image/2022-08-19.jpg" height="400" width="700" px />
		</div>
		<div class="col-3">
			<h3>HyperCar OnlineShop</h3>
			<p>地址: 110台北市信義區信義路8段888號</p>
			<P>電話: 02-999-9999</P>
			<P>E-Mail: HyperCarOnlineShop.com.tw</P>
		</div>
	</div>
</div>
<hr />
<p></p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3614.315456672799!2d121.57115647595678!3d25.057295037352056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab851ee72a97%3A0x2b89768b5c1b788c!2sLamborghini%20Taipei!5e0!3m2!1szh-TW!2stw!4v1705979429251!5m2!1szh-TW!2stw" width="1200" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>


<style>
	.glowing-border {
		border-radius: 5px; /* 可选：为边框添加圆角 */
		box-shadow: 0 0 22px rgba(255, 0, 0, 0.8); /* 添加发光效果，您可以调整颜色和模糊半径 */
	}

</style>